<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
"
>

    <!-- 切入点 -->
    <bean id = "userServiceImp" class="com.tian.spring.aop.spring.aspectj.UserServiceImp"></bean>
    <!-- 切面   -->
    <bean id="logAdvice" class="com.tian.spring.aop.spring.aspectj.LogAdvice"></bean>
    <!--  代理  -->

    <aop:config >
        <aop:aspect ref="logAdvice">
            <aop:before method="log" pointcut="execution(void com.tian.spring.aop.spring.aspectj.UserServiceImp.addUser(String))"></aop:before>
        </aop:aspect>
    </aop:config>

</beans>